# datasets

*.data
*.csv
*.mp3
*.wav
*.aac
*.npy
data/training/word_timings.json

# local training configs
training_config.json
hardware_config.json

# training runs
training_data/run*

# Python cache
__pycache__/
*/__pycache__/

# LaTeX output
doc/*.pdf

# LaTeX temporary files
*.aux
*.log
*.toc
*.idx

# Latexmk
*.fdb_latexmk
*.fls

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

# macOS FS hidden files
.DS_Store
.MACOS

# don't ignore demo files
!snippet_demo/*

# don't ignore sample talk files
!data/audio/2772.mp3
!data/audio/2696.mp3
!data/audio_features/2772.npy
!data/audio_features/2696.npy

# don't ignore pretrained training configs
#!training_data/*/training_config.json
#!training_data/*/hardware_config.json