# datasets

*.data
*.csv
*.mp3
*.wav
*.aac
*.npy

# training logs
models/retrain_logs/*
models/retrain_logs_*/*
models/experimental_retrain_logs/*
models/experimental_train/*
models/train/*
training_data/run_*
pretrained_models/*
training_config.json
hardware_config.json

# Python cache
__pycache__/
*/__pycache__/

# LaTeX output
doc/*.pdf

# LaTeX temporary files
*.aux
*.log
*.toc
*.idx

# Latexmk
*.fdb_latexmk
*.fls

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

# macOS FS hidden files
.DS_Store
.MACOS

# don't ignore demo files
!snippet_demo/*